/* ChatSidebar.module.css */
.layout {
    width: 100%;
    border: 1px solid #ffffff0e;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: auto;
  }
  
  .chatButton {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chatButton:hover,
  .chatButton:focus {
    background-color: #ffffff0e;
  }
  
