/* StyledButton.module.css */

  .button {
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: #42566c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    font-size: inherit;
    color: #fff;
  }
  
  .button:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  